<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--字体图标-->
    <link href="https://javaex.javaex.cn/javaex-5.4.1/pc/css/icomoon.css" rel="stylesheet" />
    <!--骨架样式-->
    <link href="https://javaex.javaex.cn/javaex-5.4.1/pc/css/common.css" rel="stylesheet" />
    <!--皮肤-->
    <link href="https://javaex.javaex.cn/javaex-5.4.1/pc/css/skin/default.css" rel="stylesheet" />
    <!--jquery-->
    <script src="https://javaex.javaex.cn/javaex-5.4.1/pc/lib/jquery-1.7.2.min.js"></script>
    <!--核心组件-->
    <script src="https://javaex.javaex.cn/javaex-5.4.1/pc/js/javaex.js"></script>
    <!--表单验证-->
    <script src="https://javaex.javaex.cn/javaex-5.4.1/pc/js/javaex-formVerify.js"></script>
</head>
<body>
<div style="border-left: 220px">
    <span class="javaex-search-group" style="float: right">
        <input id="keyword" type="text" class="javaex-text" placeholder="书名/ISBN号" />
        <button class="javaex-btn blue" onclick="search()">搜索</button>
    </span>
  <table id="table" class="javaex-table td-c-1 td-c-2">
    <thead>
      <tr align="center">
        <th>序号</th>
        <th>书名</th>
        <th>ISBN</th>
        <th>作者</th>
        <th>页数</th>
        <th>出版社</th>
        <th>出版时间</th>
        <th>定价</th>
        <th>库存数量</th>
        <th>类别</th>
        <th style="width:180px">操作</th>
      </tr>
    </thead>
    <tbody id="tableItems"></tbody>
  </table>
    <div class="javaex-page" style="position: fixed; left: 35%; bottom: 20%">
        <ul id="page" class="javaex-pagination"></ul>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    getBook(1,"",10);
  });
  function getBook(page, keyword, pageSize) {
    $.ajax({
        type: "POST",
        contentType: "application/json;charset=UTF-8",
        url : "/book/list",
        data :JSON.stringify({"currPage":page,"keyword": keyword,"pageSize": pageSize}),
        success: function (result) {
            console.log(result.data)
            const total = result.data.total;
            const currPage = result.data.currPage;
            const pageSize = result.data.pageSize;
            const list = result.data.list
            let pages = total / pageSize;
            if (total % pageSize !== 0) {
                pages++;
            }
            let tableItems = "";

            javaex.page({
                id : "page",
                pageNum : currPage,
                pageSize : pageSize,
                totalPages : pages,
                isShowJumpPage : true, // 是否显示跳页
                isShowSelect : false,
                totalNum : total,
                position : "left",
                callback : function(rtn) {
                    getBook(rtn.pageNum, keyword, pageSize)
                }
            });

            $.each(list, function (index, value) {
                const id = pageSize * (currPage - 1) + index + 1;
                tableItems += "<tr align='center'><td>"+id+"</td><td>"+value.name+"</td><td>"+value.isbn+"</td><td>"+value.author+"</td>" +
                    "<td>"+value.page+"</td><td>"+value.publishHouse+"</td><td>"+value.publishTime.substring(0,10)+"</td><td>"+value.price+"</td>" +
                    "<td>"+value.number+"</td><td>"+value.type+"</td><td>" +
                     "<button class='javaex-btn primary' plain onclick='updateBook("+value.id+")' style='float: left'>编辑</button>" +
                    "<button class='javaex-btn danger' plain onclick='delBook(this, "+value.id+")' style='float: right'>删除</button></td></tr>"
            });
            $("#tableItems").html(tableItems);
        }
    })
  }

  function updateBook(id) {
      window.location.href = "/book/book-update?id=" + id
  }

  function delBook(obj, id) {
      javaex.deleteDialog(obj, {
          content : "确定要删除么？",
          confirm : function() {
              $.ajax({
                  type: "GET",
                  contentType: "application/json;charset=UTF-8",
                  url : "/book/delete?id=" + id,
              })
              setTimeout(function(){ window.location.reload();},800)
          }
      });
  }

  function search() {
      let keyword = $("#keyword").val()
      console.log("search:" + keyword)
      getBook(1,keyword,10)
  }

  javaex.table({
      id : "table",
      isDragColWidth : true,      // 是否允许拖动改变列宽
      mode : "overflow",          // overflow表示允许使用父容器溢出来调整列的大小
  });

</script>

</body>
</html>