<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--字体图标-->
    <link href="https://javaex.javaex.cn/javaex-5.4.1/pc/css/icomoon.css" rel="stylesheet" />
    <!--骨架样式-->
    <link href="https://javaex.javaex.cn/javaex-5.4.1/pc/css/common.css" rel="stylesheet" />
    <!--皮肤-->
    <link href="https://javaex.javaex.cn/javaex-5.4.1/pc/css/skin/default.css" rel="stylesheet" />
    <!--jquery-->
    <script src="https://javaex.javaex.cn/javaex-5.4.1/pc/lib/jquery-1.7.2.min.js"></script>
    <!--核心组件-->
    <script src="https://javaex.javaex.cn/javaex-5.4.1/pc/js/javaex.js"></script>
    <!--表单验证-->
    <script src="https://javaex.javaex.cn/javaex-5.4.1/pc/js/javaex-formVerify.js"></script>


</head>
<body>
<div class="javaex-block has-border" style="max-width:100%; margin: 0;">
    <div class="javaex-main">
        <div class="javaex-desc">
            <div class="javaex-desc-header">
                <div class="javaex-desc-title" style="font-size: x-large;margin-bottom: 10px">我的信息</div>
                <div class="javaex-desc-extra">
                    <button class="javaex-btn primary" size="medium" onclick="updateinfo()">修改</button>
                </div>
            </div>
            <div class="javaex-desc-body">
                <table class="javaex-desc-table">
                    <tbody>
                    <tr>
                        <td class="javaex-desc-item javaex-desc-item-cell">
                            <div class="javaex-desc-item-container">
                                <span class="javaex-desc-item-label" style="width: 100px">昵称：</span>
                                <div class="javaex-desc-item-content" id="nickname"></div>
                            </div>
                        </td>
                        </tr>
                    <tr>
                        <td class="javaex-desc-item javaex-desc-item-cell">
                            <div class="javaex-desc-item-container">
                                <span class="javaex-desc-item-label" style="width: 100px">手机号：</span>
                                <div class="javaex-desc-item-content" id="tel"></div>
                            </div>
                        </td>
                        </tr>
                    <tr>
                        <td class="javaex-desc-item javaex-desc-item-cell">
                            <div class="javaex-desc-item-container">
                                <span class="javaex-desc-item-label">地址：</span>
                                <div class="javaex-desc-item-content" id="address"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td class="javaex-desc-item javaex-desc-item-cell">
                            <div class="javaex-desc-item-container">
                                <span class="javaex-desc-item-label">生日：</span>
                                <div class="javaex-desc-item-content" id="birth"></div>
                            </div>
                        </td>
                        </tr>
                    <tr>
                        <td colspan="2" class="javaex-desc-item javaex-desc-item-cell">
                            <div class="javaex-desc-item-container">
                                <span class="javaex-desc-item-label">邮箱：</span>
                                <div class="javaex-desc-item-content" id="email"></div>
                            </div>
                        </td>
                        </tr>
                    <tr>
                        <td colspan="2" class="javaex-desc-item javaex-desc-item-cell">
                            <div class="javaex-desc-item-container">
                                <span class="javaex-desc-item-label">可借数量：</span>
                                <div class="javaex-desc-item-content" id="balance"></div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    javaex.select({
        id : "select",
        isSearch : false
    });
    let user;
    // 页面加载执行
    $(document).ready(function(){
        // get读取参数
        $.get("/user/currUser", function(data){
            user = data.data;

            let div1 = document.getElementById("balance");
            div1.innerText = user.balance;
            let div2 = document.getElementById("nickname");
            div2.innerText = user.nickname;
            let div4 = document.getElementById("birth")
            div4.innerText = user.birth.substring(0, 10);
            let div5 = document.getElementById("email");
            div5.innerText = user.email;
            let div6 = document.getElementById("address");
            div6.innerText = user.address;
            let div7 = document.getElementById("tel");
            div7.innerText = user.tel;


            return false;
        });
    });
    function updateinfo() {
        console.log("update info"+user.id);
        window.location.href="/user/userInfoUpdate?id="+user.id;
    }
</script>
<style>
    .javaex-desc-item-label{
        width: 100px !important;
    }
</style>
</html>